p {
    margin-bottom: var(--ratio);
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.003em;
    font-family: Georgia;
    color: rgba(41, 41, 41, 1);
    margin: auto;
    text-rendering: optimizeLegibility;
    margin-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        text-decoration: none;
    }

    small {
        font-size: .4em;

    }
}

a {
    color: #5d5637;
}
 html {
    font-family: 'Merriweather', serif;
 }