<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
    <h1><a href="/">Air in Trees</a><br /><small>An Honest & Personal Blog</small></h1>
    {{ range .Pages }}
    <p>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>

        <time datetime="{{ .Date.Format "2006-01-02 15:04:05 PST" }}">{{ .Date.Format "2006-01-02"}}</time>
        {{ range .Params.categories }}
        <div>
            <a href="/categories/{{ lower . }}/"><strong>{{ . }}</strong></a>
        </div>
        {{ end }}
    </p>
    {{ end }}
</body>

</html>